* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #fbfaf8;

  margin: 0 auto;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  font-size: 50px;
  margin-bottom: 20px;
  color: #804e49;
  text-align: center;
}

.recipes {
  font-size: 40px;
  padding: 12px 18px;
  display: block;
  text-decoration: none;
  text-align: center;
}
.recipe1,
.recipe2 {
  margin-bottom: 1px;
}

.recipe1 {
  color: #1a1a1a;
  background-color: #e7decd;
}

.recipe2 {
  background-color: #0a122a;
  color: #ffffff;
}

.recipe3 {
  background-color: #698f3f;
  color: #1b1f16;
}
